
<div>
  <label *ngIf="error" class="text-danger">{{message}}</label>
  <div id="phonenumbers">
    <app-input *ngIf="openInput" (buttonClicked)="getRandomPhoneNumbers($event)"></app-input>
    <div  *ngIf="phoneNumbers.length">
      Sort By:<select (change)="sortNumbers($event.target.value)">
        <option *ngFor="let val of sortBy">  
          {{val.name}}
        </option>
      </select>
  
      <ul>
        <li *ngFor="let phoneNumber of phoneNumbers">
          {{ phoneNumber }}
        </li>  
      </ul>
    </div>
    
    <div>
        <button id="generate" (click)="openInput = true">{{ buttonTitles.generate | uppercase}}</button>
        <button id="saveFile" (click)="saveFile()">{{ buttonTitles.saveFile | uppercase }}</button>
        <button id="getStats" (click)="getStats()">{{ buttonTitles.viewStats | uppercase }}</button>
      </div>
  </div>
  <div>
    <div id="statistics" *ngIf="viewStats">
      Min: {{min}}
      Max: {{max}}
      Total: {{total}} 
    </div>
  </div>
</div>
